:host { /* al usar web components hay un selector que nos permite aplicar estilos al componente en su totalidad */
    width: 285px;
    display: block;
}
p.description {
    min-height: 60px;
}
img.specie {
    height: 200px;
    max-width: 250px;
    border-radius: 1.5rem;
    border: 1px solid rgb(221, 219, 218);
}